.actionbar {top:51px;background-color:#fff;padding:5px 20px;border-bottom:solid 1px #999;z-index:3;}
.actionbtn button, .actionbtn a {margin:3px auto;}

@media (max-width:1024px) {
    .actionbar {padding:5px 10px;}
}

@media (max-width:768px) {
    .actionbar {padding:5px 0;}
}