.gridnav, .gridnav-container, .gridnav select {font-size:12px;}
.gridnav .pagination > li > a, .pagination > li > span {padding:2px 10px 3px 10px;}
.gridnav .nav-page {padding:2px 0 1px 0;width:40px;margin:0 4px 0 3px;text-align:center;}
.gridnav > div > div:first-child, .gridnav > div > div:nth-child(3) {margin-top:4px;}
.gridnav > div:nth-child(2) {margin-top:3px;}

.filters {background-color:#ebf8ff;}
.filter-right input {text-align:right;}
.filter-range > div span {float:left;}
.filter-range > div:not(:last-child) span {padding-bottom:5px;}
.filter-range > div > span:nth-child(2n+1) {width:35%;padding-top:10px;}
.filter-range > div > span:nth-child(2n) {width:65%;}

.gridnav-container td {vertical-align:middle !important;}
.gridnav-container .form-control {padding:3px 5px;height:26px;font-size:11px;border-radius:2px;}
.gridnav-container .filter-range > div:first-child .form-control {border-radius:2px 0 0 2px;border-right:0;}
.gridnav-container .filter-range > div:nth-child(2) .form-control {border-radius:0 2px 2px 0;}
.gridnav-container .filter-range > div .form-control {display:inline-block;width:50%;float:left;}